<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050597014178-srk6gv26iqi509v7bl7olrdqh1jj6no6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050597014178-srk6gv26iqi509v7bl7olrdqh1jj6no6</string>
	<key>API_KEY</key>
	<string>AIzaSyBfr6tP7RTAB9gmCWlBeonQ-1tirDLvhLg</string>
	<key>GCM_SENDER_ID</key>
	<string>1050597014178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zedd</string>
	<key>PROJECT_ID</key>
	<string>zedd-81fa1</string>
	<key>STORAGE_BUCKET</key>
	<string>zedd-81fa1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050597014178:ios:8460d607f62b3ef79335fb</string>
</dict>
</plist>